
.icon-star:before { content: '\e800'; } /* '' */
.icon-calendar:before { content: '\e801'; } /* '' */
.icon-user:before { content: '\e802'; } /* '' */
.icon-text:before { content: '\e803'; } /* '' */
.icon-spin:before { content: '\e839'; } /* '' */
.icon-github:before { content: '\f300'; } /* '' */