@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@font-face {
  font-family: 'fontello';
  src: url('./fontello/font/fontello.eot?13466301');
  src: url('./fontello/font/fontello.eot?13466301#iefix') format('embedded-opentype'),
       url('./fontello/font/fontello.woff?13466301') format('woff'),
       url('./fontello/font/fontello.ttf?13466301') format('truetype'),
       url('./fontello/font/fontello.svg?13466301#fontello') format('svg');
  font-weight: normal;
  font-style: normal;
}
